@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input-lp {
    @apply w-full appearance-none rounded-md px-4 py-2 text-gray-200 outline-none;
  }

  .input-lp:hover {
    @apply cursor-text;
  }

  .input-lp:focus {
    @apply border border-gray-800 bg-black;
  }

  .btn {
    @apply rounded-md bg-black py-2 font-semibold text-white hover:bg-lpSecondary;
  }
}

.react-datetime-picker__wrapper {
  border: none !important;
}
.react-datetime-picker__inputGroup {
  padding: 0 32px !important;
}

.swiper-button-next::after {
  background-image: url('../../public/images/right-arrow.svg') !important;

  background-repeat: no-repeat;
  content: '' !important;
  width: 60px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-button-prev::after {
  background-image: url('../../public/images/left-arrow.svg') !important;

  background-repeat: no-repeat;
  content: '' !important;
  width: 60px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.fix-hover-card {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

@font-face {
  font-family: 'Simplon';
  src: url('../../public/fonts/simplonbpregular-webfont.woff2');
}

@font-face {
  font-family: 'Simplon Bold';
  src: url('../../public/fonts/simplonbp-bold-webfont.woff2');
}
